name: First Workflow
on : workflow_dispatch
env:
  mascot: Mona
  super_duper_var: totally_awesome
jobs :
  my-first-job :
    runs-on : ubuntu-latest
    steps:
      - name: Print Greeting
        run : |
          echo "Hello World"
          echo "Hello Again"
      - name : Say GoodBye
        run : echo "Good Bye"
      - name : Print env context 
        run: echo 'Hi ${{ env.mascot }}'
        env : 
          mascot: Mona2
      - name : checkout_code
        uses : actions/checkout@v4
        with :
          path : my_code
      
